# Roadmap pandas in one hour

- First install pandas

In [2]:
import pandas as pd

## Data structures of pandas

In [5]:
# Series
''' Series is a one-dimensional labeled array capable of holding data
of any type (integer, string, float, python objects, etc.). The axis
labels are collectively called index.'''
s = pd.Series([1, 3, 5, 7, 9])
print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [8]:
# DataFrame
''' DataFrame is a 2-dimensional labeled data structure with columns
of potentially different types. You can think of it like a spreadsheet
or SQL table, or a dict of Series objects.'''
data = {'Name': ['Tom', 'Jerry', 'Mickey', 'Donald', 'Goofy', 'Minnie', 'Daisy', 'Pluto'],
        'Age': [20, 21, 22, 23, 24, 25, 26, 27]}
df = pd.DataFrame(data)
print(df)

     Name  Age
0     Tom   20
1   Jerry   21
2  Mickey   22
3  Donald   23
4   Goofy   24
5  Minnie   25
6   Daisy   26
7   Pluto   27

## Read data

In [9]:
df = pd.read_csv('Top10VideoGameStocks.csv')
print(df.head())

         Date                         Company Ticker Symbol Currency  \
0  2000-01-01  Sony Interactive Entertainment          SONY      JPY
1  2000-02-01  Sony Interactive Entertainment          SONY      JPY
2  2000-03-01  Sony Interactive Entertainment          SONY      JPY
3  2000-04-01  Sony Interactive Entertainment          SONY      JPY
4  2000-05-01  Sony Interactive Entertainment          SONY      JPY

        Open       High        Low      Close  Adj Close     Volume
0  28.525000  29.168751  20.850000  25.299999  14.535083  147012000
1  25.293751  31.475000  25.000000  31.350000  18.010864   67437000
2  30.100000  31.299999  21.700001  28.012501  16.093437  112674000
3  28.250000  28.250000  22.312500  22.562500  12.974537   74071000
4  22.700001  23.481251  17.750000  18.237499  10.487453   65035500

In [10]:
df.to_csv('file_name.csv', index=False)

## Explore data

In [12]:
# Inspect the data
print(df.head()) # print first 5 rows

         Date                         Company Ticker Symbol Currency  \
0  2000-01-01  Sony Interactive Entertainment          SONY      JPY
1  2000-02-01  Sony Interactive Entertainment          SONY      JPY
2  2000-03-01  Sony Interactive Entertainment          SONY      JPY
3  2000-04-01  Sony Interactive Entertainment          SONY      JPY
4  2000-05-01  Sony Interactive Entertainment          SONY      JPY

        Open       High        Low      Close  Adj Close     Volume
0  28.525000  29.168751  20.850000  25.299999  14.535083  147012000
1  25.293751  31.475000  25.000000  31.350000  18.010864   67437000
2  30.100000  31.299999  21.700001  28.012501  16.093437  112674000
3  28.250000  28.250000  22.312500  22.562500  12.974537   74071000
4  22.700001  23.481251  17.750000  18.237499  10.487453   65035500

In [13]:
print(df.tail()) # print last 5 rows

            Date   Company Ticker Symbol Currency  Open   High   Low  Close  \
2204  2024-06-01  Playtika          PLTK      USD  8.76  9.070  7.68   7.87
2205  2024-07-01  Playtika          PLTK      USD  7.86  8.100  7.23   7.63
2206  2024-08-01  Playtika          PLTK      USD  7.67  8.055  6.61   7.57
2207  2024-09-01  Playtika          PLTK      USD  7.49  8.355  7.15   7.92
2208  2024-10-01  Playtika          PLTK      USD  7.93  8.060  7.32   7.83

      Adj Close    Volume
2204   7.677933  19793700
2205   7.536838  15108300
2206   7.477571  18138900
2207   7.823297  18116900
2208   7.830000  11134800

In [ ]:
print(df.shape) # print number of rows and columns

(2209, 10)

In [ ]:
print(df.columns) # print column names

Index(['Date', 'Company', 'Ticker Symbol', 'Currency', 'Open', 'High', 'Low',
       'Close', 'Adj Close', 'Volume'],
      dtype='object')

In [16]:
print(df.dtypes) # print data types of each column

Date              object
Company           object
Ticker Symbol     object
Currency          object
Open             float64
High             float64
Low              float64
Close            float64
Adj Close        float64
Volume             int64
dtype: object

In [17]:
print(df.info()) # print concise summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2209 entries, 0 to 2208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           2209 non-null   object
 1   Company        2209 non-null   object
 2   Ticker Symbol  2209 non-null   object
 3   Currency       2209 non-null   object
 4   Open           2209 non-null   float64
 5   High           2209 non-null   float64
 6   Low            2209 non-null   float64
 7   Close          2209 non-null   float64
 8   Adj Close      2209 non-null   float64
 9   Volume         2209 non-null   int64
dtypes: float64(5), int64(1), object(4)
memory usage: 172.7+ KB
None

In [18]:
print(df.describe()) # print summary statistics of the DataFrame

              Open         High          Low        Close    Adj Close  \
count  2209.000000  2209.000000  2209.000000  2209.000000  2209.000000
mean     56.082332    60.403246    52.123886    56.452762    54.255817
std      88.552277    95.086684    82.698684    88.816897    87.529546
min       0.032000     0.032000     0.025500     0.032000     0.025868
25%       8.374000     9.225000     7.520000     8.380000     7.123526
50%      22.362000    24.500000    20.070000    22.379999    18.641869
75%      57.276001    61.731998    53.959999    57.459999    55.368843
max     643.455811   714.899658   610.729919   628.245178   613.602234

             Volume
count  2.209000e+03
mean   2.677228e+08
std    4.027909e+08
min    0.000000e+00
25%    3.879940e+07
50%    8.711250e+07
75%    3.528646e+08
max    3.044579e+09

In [21]:
#Selecting data
print(df['Company']) # select one column
print(df[['Company', 'Ticker Symbol']]) # select multiple columns

0       Sony Interactive Entertainment
1       Sony Interactive Entertainment
2       Sony Interactive Entertainment
3       Sony Interactive Entertainment
4       Sony Interactive Entertainment
                     ...
2204                          Playtika
2205                          Playtika
2206                          Playtika
2207                          Playtika
2208                          Playtika
Name: Company, Length: 2209, dtype: object
                             Company Ticker Symbol
0     Sony Interactive Entertainment          SONY
1     Sony Interactive Entertainment          SONY
2     Sony Interactive Entertainment          SONY
3     Sony Interactive Entertainment          SONY
4     Sony Interactive Entertainment          SONY
...                              ...           ...
2204                        Playtika          PLTK
2205                        Playtika          PLTK
2206                        Playtika          PLTK
2207                        Playtika          PLTK
2208                        Playtika          PLTK

[2209 rows x 2 columns]

In [22]:
print(df.iloc[0]) # select one row

Date                                 2000-01-01
Company          Sony Interactive Entertainment
Ticker Symbol                              SONY
Currency                                    JPY
Open                                     28.525
High                                  29.168751
Low                                       20.85
Close                                 25.299999
Adj Close                             14.535083
Volume                                147012000
Name: 0, dtype: object

In [23]:
print(df.loc[0]) # select one row

Date                                 2000-01-01
Company          Sony Interactive Entertainment
Ticker Symbol                              SONY
Currency                                    JPY
Open                                     28.525
High                                  29.168751
Low                                       20.85
Close                                 25.299999
Adj Close                             14.535083
Volume                                147012000
Name: 0, dtype: object

## Data manipulation

In [26]:
oven_100 = df[df['Open'] > 100] # select rows based on condition
print(oven_100)

            Date                            Company Ticker Symbol Currency  \
413   2014-02-01  Tencent Interactive Entertainment       0700.HK      HKD
414   2014-03-01  Tencent Interactive Entertainment       0700.HK      HKD
415   2014-04-01  Tencent Interactive Entertainment       0700.HK      HKD
417   2014-06-01  Tencent Interactive Entertainment       0700.HK      HKD
418   2014-07-01  Tencent Interactive Entertainment       0700.HK      HKD
...          ...                                ...           ...      ...
2080  2021-06-01                     Embracer Group   EMBRAC-B.ST      SEK
2081  2021-07-01                     Embracer Group   EMBRAC-B.ST      SEK
2082  2021-08-01                     Embracer Group   EMBRAC-B.ST      SEK
2129  2021-12-01                 Roblox Corporation          RBLX      USD
2130  2022-01-01                 Roblox Corporation          RBLX      USD

            Open        High         Low       Close   Adj Close     Volume
413   100.205795  116.338280   92.185646  114.771126  109.997101  642650480
414   111.913368  119.103851   94.582474   99.468307   95.330826  868029900
415   100.297981  106.290047   88.977585   89.088203   85.382484  731093628
417   100.758911  110.161842   99.283936  108.963432  104.681480  388099116
418   108.963432  120.671005  108.963432  118.366371  113.714897  440301499
...          ...         ...         ...         ...         ...        ...
2080  123.650002  125.949997  110.000000  115.750000  115.750000   50054974
2081  115.750000  116.699997  108.750000  111.349998  111.349998   40426734
2082  111.349998  112.699997   88.525002   97.900002   97.900002  155566384
2129  128.139999  130.740005   93.269997  103.160004  103.160004  362736900
2130  101.910004  103.790001   53.630001   65.860001   65.860001  440325000

[385 rows x 10 columns]

In [27]:
# Add a new column
df['OpenCloseDiff'] = df['Close'] - df['Open']
print(df.head())

         Date                         Company Ticker Symbol Currency  \
0  2000-01-01  Sony Interactive Entertainment          SONY      JPY
1  2000-02-01  Sony Interactive Entertainment          SONY      JPY
2  2000-03-01  Sony Interactive Entertainment          SONY      JPY
3  2000-04-01  Sony Interactive Entertainment          SONY      JPY
4  2000-05-01  Sony Interactive Entertainment          SONY      JPY

        Open       High        Low      Close  Adj Close     Volume  \
0  28.525000  29.168751  20.850000  25.299999  14.535083  147012000
1  25.293751  31.475000  25.000000  31.350000  18.010864   67437000
2  30.100000  31.299999  21.700001  28.012501  16.093437  112674000
3  28.250000  28.250000  22.312500  22.562500  12.974537   74071000
4  22.700001  23.481251  17.750000  18.237499  10.487453   65035500

   OpenCloseDiff
0      -3.225000
1       6.056250
2      -2.087500
3      -5.687500
4      -4.462502

In [28]:
# Drop a column
df = df.drop('OpenCloseDiff', axis=1)
print(df.head())

         Date                         Company Ticker Symbol Currency  \
0  2000-01-01  Sony Interactive Entertainment          SONY      JPY
1  2000-02-01  Sony Interactive Entertainment          SONY      JPY
2  2000-03-01  Sony Interactive Entertainment          SONY      JPY
3  2000-04-01  Sony Interactive Entertainment          SONY      JPY
4  2000-05-01  Sony Interactive Entertainment          SONY      JPY

        Open       High        Low      Close  Adj Close     Volume
0  28.525000  29.168751  20.850000  25.299999  14.535083  147012000
1  25.293751  31.475000  25.000000  31.350000  18.010864   67437000
2  30.100000  31.299999  21.700001  28.012501  16.093437  112674000
3  28.250000  28.250000  22.312500  22.562500  12.974537   74071000
4  22.700001  23.481251  17.750000  18.237499  10.487453   65035500

## Advanced operations

In [39]:
#Grouping data
numeric_df = df.select_dtypes(include='number')

grouped = df.groupby('Company')[numeric_df.columns].mean()
print(grouped)

                                         Open        High         Low  \
Company
Electronic Arts                     63.376126   67.615559   59.397112
Embracer Group                      46.903330   52.060034   41.379687
Microsoft Gaming                    89.801136   95.247261   85.158955
NetEase Games                       30.894441   33.732690   28.199920
Nintendo                             6.665512    7.188882    6.154534
Playtika                            14.616889   15.830600   12.763533
Roblox Corporation                  50.152326   57.907349   42.308907
Sony Interactive Entertainment       9.836865   10.497607    9.122153
Take-Two Interactive                53.307638   57.467914   49.268344
Tencent Interactive Entertainment  168.624424  182.391790  156.846100

                                        Close   Adj Close        Volume
Company
Electronic Arts                     63.792135   62.623572  9.620280e+07
Embracer Group                      47.039273   47.039273  7.219238e+07
Microsoft Gaming                    90.833884   83.656873  1.052125e+09
NetEase Games                       31.033982   28.534637  1.690754e+08
Nintendo                             6.697284    6.667383  2.557595e+07
Playtika                            14.085111   13.575073  2.744396e+07
Roblox Corporation                  49.786745   49.786745  2.908458e+08
Sony Interactive Entertainment       9.786584    7.855062  1.227830e+08
Take-Two Interactive                53.798982   53.798616  3.960947e+07
Tencent Interactive Entertainment  169.573749  165.357776  5.049744e+08

In [40]:
# Joining data
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'], 'B': ['B0', 'B1', 'B2']})
df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'], 'B': ['B3', 'B4', 'B5']})
df_union = pd.concat([df1, df2])
print(df_union)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5